@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #20344a;
    background-color: #fff7e9; 
}

body a {
    text-decoration: none;
    color: #20344a;
} 

.page-titles {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

header h1 {
    font-family: 'Lato', sans-serif;
    color: #852a0d;
}

header h2 {
    font-family: 'Lato', sans-serif;
    color: #852a0d;
    opacity: 0.65;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-bar-container div {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.nav-bar li {
    padding: 10px;
    font-size: larger;
}

footer {
    clear: both;
    padding: 10px;
}

/*Styling for Gallery page*/

.nav-bar li:hover, #gallery-images a:hover, footer a:hover {
    text-decoration: underline;
}

.nav-bar li:focus, #gallery-images a:focus, footer a:focus {
    text-decoration: underline;
}

#heels-image {
    background: url("../images/rigaud-louis-xiv-heels-cropped.jpg");
}

#bushes-image {
    background: url("../images/fragonard-swing-bushes-cropped.jpg");
}

#balloons-image {
    background: url("../images/boucher-setting-of-the-sun-balloon.jpg");
}

#gallery-images div{
    background-size: cover;
    height: 400px;
    border-radius: 6px;
    background-position: center;
    border: 5px #852a0d outset; 
    display: block;
    clear: both;
}

#gallery-images a {
    position: relative;
    top: 40%;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #fff7e9;
    font-size: xxx-large;
    background-color: rgba(0, 0, 0, 0.2);
}

#bushes-div {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/*Styling for divider that is present at top and bottom of all pages except landing/gallery page*/

.visual-divider {
    background-color: #852a0d;
    height: 10px;
    width: 100%;
    clear: both;
}


/*styling for all 3 painting pages*/

.painting {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #20344a;
    padding-bottom: 20px;
    clear: both;
}

.painting img {
    width: 60vw;
    border-radius: 6px;
    border: 5px #852a0d outset; 
    margin: auto; 
}

.painting-info p {
    max-width: 60vw;
    display: flex;
    justify-content: center;
}

.painting-info a:hover, .painting-info a:focus {
    text-decoration: underline;
}

/*Styling for Heels/Rigaud toggle images (if it happens)*/

#rigaud {
    position: relative;
    text-align: center;
}

#rigaud-painting img {
    position: relative;
}

#rigaud-painting-detail img {
    position: relative;
    width: 30vw;   
}

/*Code for clicking between two Heels/Rigaud images based on code from https://www.digitalocean.com/community/tutorials/css-css-only-click-handler */

#rigaud-painting-detail {
    display: none;
}

#rigaud-painting-detail:target {
    display: block;
}



/*Styling for Suggestions page*/

.suggestions-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestions-form-text {
    font-family: 'Source Sans Pro', sans-serif;
}

#artwork-reason {
    font-size: smaller;
}

.suggestions-article header {
    text-align: center;
    max-width: 60vw;
}

.suggestions-article h2 {
    margin: 0 auto;
    padding-top: 20px;
}

#submit-button:hover, #submit-button:focus {
    border: 5px #852a0d outset;
    color: #20344a;
}

.suggestions-form {
    margin-bottom: 20px;   
}

fieldset {
    border: 5px #852a0d outset;
}

legend {
    font-size: larger;
}


/*Styling for Resources page*/

.odd-resources-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.odd-resources-article header {
    max-width: 60vw;
}
.odd-resources-article h2 {
    margin: 0 auto;
    padding-top: 20px;
}


.odd-resources-article a {
    padding: 5px;
    display: block;
}
.odd-resources-article a:hover, .odd-resources-article a:focus{
    text-decoration: underline;
}

.odd-resources-article iframe {
    border-radius: 6px;
    border: 5px #852a0d outset; 
    margin-bottom: 20px;
}

/*Media queries*/

@media screen and (max-width: 950px){
    #bushes-image {
        background: url("../images/fragonard-swing-bushes-cropped-mobile.jpg");
    }

    #balloons-image {
        background: url("../images/boucher-setting-of-the-sun-balloon-cropped-mobile.jpg");
    }

    #gadsby-video {
        width: 80vw;
    }
    
}

@media screen and (max-width: 800px) {
    header {
        text-align: center;
        flex-direction: column;
        align-content: space-around;    
    }
    
    .nav-bar {    
        margin: 0 0 10px 0;
    }
}


@media screen and (max-width: 550px) {
    .suggestions-form-text {
        width: 80vw;
    }

    #submit-button {
        width: initial;
    }

    .nav-bar {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
     }

   
    .mobile-right-nav {
        margin-left: auto;   
    }
     
    /* .nav-bar {
        display: flex;
        flex-wrap: wrap; 
     }

    .nav-bar > li {
        flex: 1;
        flex-basis: 100%;
        text-align: center;
    }
     
    /*.mobile-left-nav {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    .mobile-right-nav {
        display: flex;
        flex-direction: column;
        text-align: right;
    }*/
    

    

}



