@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxygen&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    color: #20344a;
    background-color: #f4f7f7;
}

h1, h2 {
    font-family: 'Oxygen', sans-serif;
}

#nav-bar a, footer a {
    text-decoration: none;
    color: #20344a;
} 

#nav-bar li {
    /*float: left;*/
    display: inline;
    list-style-type: none;
    margin-left: 10px;
}

#nav-bar, footer {
    background-color: #8fdcf1;
}



/* gallery image styling */

#gallery-images img {
    width: 100%;
    padding: 10px 0;
}