@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxygen&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    color: #f4f7f7;
    background-color: #20344a;
}

h1, h3 {
    font-family: 'Oxygen', sans-serif;
    margin-left: 10px;
    text-align: center;
}

#nav-bar a, footer a, body a {
    text-decoration: none;
    color: #f4f7f7;
} 

#nav-bar li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
}

#nav-bar li:hover, #gallery-images a:hover, footer a:hover {
    text-decoration: underline;
}

#nav-bar, footer {
    background-color: #ac3d5a;
    padding: 10px;
    display: block;
}


/* gallery images*/

.heel-image {
    background: url("../images/rigaud-louis-xiv-heels-cropped.jpg");
}

.bushes-image {
    background: url("../images/fragonard-swing-bushes-cropped.jpg");
}

.balloon-image {
    background: url("../images/boucher-setting-of-the-sun-balloon.jpg");
}

#gallery-images div{
    background-size: cover;
    height: 400px;
    border-radius: 6px;
    background-position: center;
    border-style: outset;
    border-width: 5px;
    border-color: #ac3d5a; 
    display: block;
}

#gallery-images a {
    position: relative;
    top: 40%;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #f4f7f7;
    font-size: xx-large;
}

/*styling for all 3 painting pages*/

/* positioning for toggling, temporarily removed for centering purposes

#rigaud figure {
    position: relative;
    top: 0;
    left: 0;
}
#rigaud-painting > img {
    border-radius: 6px;
    width: 50vw;
    border-style: outset;
    border-width: 5px;
    border-color: #ac3d5a;
    position: relative;
    top: 0;
    left: 0;
}

#rigaud-painting-detail > img {
    border-radius: 6px;
    width: 25vw;
    border-style: outset;
    border-width: 150px;
    border-color: #ac3d5a;
    position: absolute;
    top: 0;
    left: 0;
}
*/

/*Styling for clicking between two images, based on code from https://www.digitalocean.com/community/tutorials/css-css-only-click-handler

#rigaud-painting-detail {
    display: none;
}

#rigaud-painting-detail:target {
    display: initial;
}
*/

#rigaud, #fragonard, #boucher {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #f4f7f7;
    padding-bottom: 20px;
}
#rigaud img, #fragonard img, #boucher img {
    width: 80vw;
    border-radius: 6px;
    border-style: outset;
    border-width: 5px;
    border-color: #ac3d5a;
    margin: auto;
}

#rigaud-info a:hover, #fragonard-info a:hover, #boucher-info a:hover {
    text-decoration: underline;
}

/*Media queries for painting pages*/

@media screen and (max-width: 400px){
    #nav-bar li {
        padding-right: 40px;
    }

    .bushes-image {
        background: url("../images/fragonard-swing-bushes-cropped-mobile.jpg");
    }

    .balloon-image {
        background: url("../images/boucher-setting-of-the-sun-balloon-cropped-mobile.jpg");
    }
}



